body{
    margin: 0;
}

ul.navigation1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #000;
    overflow: hidden;
    font-size: 18px;
}

.navigation1 li a{
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;

}

.navigation1 li {
    float: right;
}
#websiteTitle {
    float:left;
}

.navigation1 li a:hover {
    color: #aaa;
}
