{% extends "layout.html" %}

{% block title %}SignUp{% endblock %}

{% block content %}
    <h1>Signup</h1>
    <form class="signup" action="{{ url_for('thanks') }}" method="post">
        <label for="name">Fullname: </label>
        <input type="text" name="name" placeholder="Enter your name">
        <label for="email">Email: </label>
        <input type="text" name="email" placeholder="Enter your email address">
        <label for="username">Username: </label>
        <input type="text" name="username" placeholder="Username">
        <label for="password">Password: </label>
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="submit" value="Submit">
    </form>
{% endblock %}
